<div id="commentPost" class="modal">
    <div class="modal-content">
        <h4>ACTION Comment</h4>
        <p>Please complete the form below and click the create button.</p>
        <form class="col s12 event-form">
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input id="comment-title" type="text" class="validate">
                    <label for="post-title">Comment</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class='modal-close btn-flat'>Cancel</a>
        <a id='event-Comment' class='modal-close btn-flat'>Submit</a>
    </div>
</div>