<div id="modal-signup" class="modal card modal-card">
    <div class="modal-content">
        <h4>Get Started</h4>
        <form class="signup-form">
            <div class="row">
                <div class="input-field col s10 offset-s1">
                    <input id="signup-email" type="text" class="validate">
                    <label for="signup-email">Email Address</label>
                </div>
                <div class="input-field col s10 offset-s1">
                    <input id="signup-password" type="password" class="validate">
                    <label for="signup-password">Password</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class='modal-close btn-flat'>Cancel</a>
        <a id="signup-submit" class="modal-close btn-flat">Sign Up</a>
    </div>
</div>